.env
.env.*
!.env.example
!.env.*.example
.envrc
.paymint_secret
.paymint_tx
.paymint_fcfs
.paymint_paid
.paymint_og
.paymint_holder
node_modules/
**/node_modules/
.next/
**/.next/
out/
.vercel/
dist/
build/
.cache/
.turbo/
*.tsbuildinfo
.eslintcache
coverage/
.nyc_output/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo
*~
.DS_Store
**/.DS_Store
Thumbs.db
